{% extends 'base.html' %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/register.css' %}"/>
{% endblock %}
{% block content %}
    <form class="main-form" action="{% url 'accounts:register' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                <small class="text-warning">{{ field.errors }}</small><br>
                {{ field.label }}<br>
                {{ field }}<br>
                <small class="text-primary">{{ field.help_text }}</small>
            </p>
        {% endfor %}
        <input type="submit" value="회원가입" />
    </form>
{% endblock %}